<div class="space-medium">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="section-title">
                  <!-- section title-->
                  <h2>Tax Services We Provide</h2>
              </div>
              <!-- /.section title-->
          </div>
      </div>
      <div class="row">
          <!-- service-1 -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="service-block">
                  <div class="service-icon"><i class="icon-report"></i></div>
                  <div class="service-content">
                      <h3><a href="#" class="title">Tax Consultancy</a></h3>
                      <p>Felis tortor quide praesent feugiat metus tempor faucibus maecnas eget consectetur mi curabitur. </p>
                      <a href="#" class="btn btn-primary btn-sm"> view details</a> </div>
              </div>
          </div>
          <!-- /.service-1 -->
          <!-- service-2 -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="service-block">
                  <div class="service-icon"><i class="icon-031-cash"></i></div>
                  <div class="service-content">
                      <h3><a href="#" class="title">Tax Investigation</a></h3>
                      <p>Nunc non ultricies enim ut donec accumsan vehicular sed ac lorem est interdum vulputate mauris. </p>
                      <a href="#" class="btn btn-primary btn-sm"> view details</a> </div>
              </div>
          </div>
          <!-- /.service-2 -->
          <!-- service-3 -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="service-block">
                  <div class="service-icon"><i class="icon-023-tax-1"></i></div>
                  <div class="service-content">
                      <h3><a href="#" class="title">Tax Training</a></h3>
                      <p>Dolor orci nulla et erat consequat porta tellus nec lacinia lacus vivamus placerat luctus venenatis. </p>
                      <a href="#" class="btn btn-primary btn-sm"> view details</a> </div>
              </div>
          </div>
          <!-- /.service-3 -->
      </div>
  </div>
</div>