<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
       <!--<div> -->
          <div class="contact-form">
            <h1>Get In Touch</h1>
            <p class="mb40">Drop us a line via the contact form. We will do our best to reply as soon as possible. </p>
            <div class="row">
              <form>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name"></mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name"></mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput id="phone"  placeholder="Phone">
                  </mat-form-field>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput #message  placeholder="Message">
                    <mat-hint>{{message.value.length}} / 256</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button mat-button class="btn btn-primary">send us message</button>
                </div>
              </form>

              <!-- <form>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                            <input matInput id="name" type="text" placeholder="Name" class="form-control">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                                <input matInput id="lastName" type="text" placeholder="Last Name" class="form-control">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                                <input matInput id="email" type="text" placeholder="Email" class="form-control">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                                <input matInput id="phone" type="text" placeholder="Phone" class="form-control">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput #message id="phone" type="textarea" rows="4" placeholder="Message" class="form-control">
                                                    <mat-hint>{{message.value.length}} / 256</mat-hint>
                                            </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button mat-button class="btn btn-primary">send us message</button>
                                </div>
                            </form> -->

            </div>
            <hr>
            <div class="row">
              <!-- Address -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-widget">
                  <div class="contact-content">
                    <h4 class="contact-widget-title">Address</h4>
                    <p>1250 Mark Avenue Ahmedabad,- India </p>
                  </div>
                </div>
              </div>
              <!-- /.Address -->
              <!-- Phone -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-widget">
                  <div class="contact-widget-content">
                    <h4 class="contact-widget-title ">Phone Numbers</h4>
                    <p class="widget-cta-text">1800-123-4657 </p>
                  </div>
                </div>
              </div>
              <!-- /.Phone -->
              <!-- Email -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-widget">
                  <div class="contact-widget-content">
                    <h4 class="contact-widget-title ">Email Address</h4>
                    <p>info@gsttax.com </p>
                  </div>
                </div>
              </div>
              <!-- /.Email -->
            </div>
          </div>
        </div>
      <!--</div> -->
    </div>
    <!-- map -->
    <div class="container-fluid">
      <div class="row">
        <!-- map-start -->
        <div>
          <div id="contact-map"></div>
        </div>
        <!-- map-close -->
      </div>
    </div>
