.testimonial-block {
  border: 1px solid #e6eaed;
  padding: 0px 45px;
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
  margin-top: 40px;
}

.testimonial-content {
  position: relative;
  bottom: 45px;
  font-style: italic;
  font-size: 21px;
  font-weight: 600;
}

.testimonial-img {
  margin-bottom: 35px;
}

.testimonial-img img {}

.testimonial-meta {
  color: #1281e2;
  font-style: normal;
}

.testimonial-meta span {}
