<div class="slider">
  <div class="slider">
    <owl-carousel [options]="slideOptions" [items]="slideImages" [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item" *ngFor="let image of slideImages;let i = index">
        <div class="slider-img"> <img src={{image}} alt=""></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="slider-captions">
                <h1 class="slider-title">{{sliderContent[i].title}}</h1>
                <p class="slider-text hidden-xs">{{sliderContent[i].text}} </p>
                <a routerLink="about" class="btn btn-primary btn-lg hidden-sm hidden-xs">{{sliderContent[i].linkText}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </owl-carousel>
  </div>
</div>
