<div class="cta-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-lg-offset-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="cta-section">
                  <h1>Free Strategy Session and Consultation</h1>
                  <p>We provide accounting support services for the professionals, individuals,
                      <br>families and businesses.</p>
                  <a href="#" class="btn btn-primary btn-lg mb20">Start Your Free Services</a>
                  <br>
                  <span class="cta-icon"><i class="icon-telephone-1"></i></span><span class="cta-text">{{contactPhone}}</span>
              </div>
          </div>
      </div>
  </div>
</div>