<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="navigation collapse navbar-collapse col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo navbar-brand col-lg-3 col-md-2 col-sm-12 col-xs-12">
              <a routerLink="landing-page">
                <img src="../../assets/images/original-site/logo-n.png" alt=""></a>
            </div>
          <div class="menu-bar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a routerLink="landing-page" title="Home">Home</a></li>
              <li nav-item><a routerLink="about" title="About us">About us</a> </li>
              <li nav-item><a routerLink="service" title="Service">Service</a></li>
              <li nav-item><a routerLink="testimonials" title="Testimonials">Testimonials</a></li>
              <li nav-item><a routerLink="team" title="Meet the Team">Our Team</a></li>
              <li nav-item><a routerLink="contact" title="Contact Us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- <div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
        <div class="logo"><a routerLink="landing-page"><img src="../../assets/images/original-site/logo-n.png" alt=""></a></div>
      </div>
      <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
        <div class="navigation">
          <div id="navigation">
            <ul>
              <li class="active"><a routerLink="landing-page" title="Home">Home</a></li>
              <li><a routerLink="about" title="About us">About us</a> </li>
              <li><a routerLink="service" title="Service">Service</a></li>
              <li><a routerLink="testimonials" title="Testimonials">Testimonials</a></li>
              <li><a routerLink="contact" title="Contact Us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
