<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
        <div class="logo"><a routerLink="landing-page"><img src="../../assets/images/logo.png" alt=""></a></div>
      </div>
      <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
        <!-- navigation-section-->
        <div class="navigation">
          <div id="navigation">
            <ul>
              <li class="active"><a routerLink="landing-page" title="Home">Home</a></li>
              <li><a routerLink="about" title="About us">About us</a> </li>
              <li><a routerLink="service" title="Service">Service</a></li>
              <li> <a routerLink="testimonials" title="Testimonials">Testimonials</a></li>
              <li><a routerLink="contact" title="Contact Us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- /.navigation-section-->
      </div>
    </div>
  </div>
</div>
