<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">
          <h2>Meet Our Team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12">
        <div class="team-block">
          <div class="row">
            <div class="col-lg-3">
              <div class="team-member-image">
                <img src="assets/images/owner-001.jpg">
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-5">
              <div class="team-member">
                  <div class="team-member-name">Greg Bourque</div>
                  <div class="team-member-title">Managing Partner</div>
                  <div class="team-member-contact">
                      <a href="https://www.facebook.com/greg.bourque.94" target="_blank" title="Facebook link" class="facebook team-social-link"><i
                          class="fa fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/greg-bourque-85564311" target="_blank" title="LinkedIn link" class="linkedin team-social-link"><i
                          class="fa fa-twitter"></i></a>
                    </div>
              </div>
             
            </div>

            <div class="team-member-detail">
              <p>
                Greg has vast experience driving growth through strategic
                planning, change, and cooperation. He boldly uses innovation to
                fuel disruptive business models in consumer business segments
                and knows the value of the customer engagement. In 1997, he
                joined the U.S. Army and served as a paratrooper in the 82nd
                Airborne Division and an Army Recruiter in Atlanta, GA. After six
                years of service he returned to Richmond, Virginia and worked in
                the private franchise sector for ten years specializing in
                operations management, business development, rehabilitating
                underperforming locations, and new business startups. Greg has
                founded and lead the expansion of private companies in real
                estate investments, consumer goods, and hospitality sectors.
              </p>
              <p>
                Currently Greg is a Partner at Capital City Accounting LLP, a Virginia based accounting firm. Providing
                comprehensive accounting services to its clients. Greg has worked in the finance and public company
                sector since 2012 and was previously the CFO of Grand Capital Ventures Inc. and CEO, and CFO of Alaska
                Pacific Energy Corp and its subsidiary companies.
              </p>
              <p>
                Greg is an advisory board member to the non-profits, Chesterfield / Colonial Heights Crime Solvers and
                Court Appointed Special Advocates (CASA). He is a member of the National Association of Tax
                Professionals, and National Society of Enrolled Agents. Greg currently holds a Bachelor of Arts in
                Business Administration from Averett University, and a Master of Science in Accounting from Liberty
                University. Currently Greg is pursuing a Master of Science in Finance, concentrated in Corporate
                Finance
                and Financial Decision Making from the University of Miami. With this foundation Greg plans to sit for
                the coveted, Chartered Financial Analyst designation (CFA).
              </p>
              <p>
                Greg is married to his wife Ninfa of thirteen years, and they have two boys. They enjoy the simple
                pleasures in life like family, congregation at the parish, sports and the outdoors. On weekends they
                take
                trips across Virginia, taking in the beauty and history that is so abundant across the state. They
                attend
                St. Augustine Catholic Church in Chesterfield and are blessed to have family and many close friends in
                the area.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
